In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rounakbanik/the-movies-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/rounakbanik/the-movies-dataset?dataset_version_number=7...

100%|███████████████████████████████████████████████████████████████████████████████| 228M/228M [00:49<00:00, 4.79MB/s]

Extracting files...

Path to dataset files: C:\Users\sshyu\.cache\kagglehub\datasets\rounakbanik\the-movies-dataset\versions\7

**[데이터셋]**

https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset/data

**[참고]**

https://lebi.tistory.com/26

In [8]:
import pandas as pd
ratings_path = f"{path}/ratings.csv"
ratings_df = pd.read_csv(ratings_path)
print(ratings_df.head())

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [7]:
ratings_df.shape

(26024289, 4)

In [10]:
path

'C:\\Users\\sshyu\\.cache\\kagglehub\\datasets\\rounakbanik\\the-movies-dataset\\versions\\7'

In [15]:
ratings_df['userId'].nunique()

270896

In [22]:
ratings_df.groupby('userId').count()

        movieId  rating  timestamp
userId
1            27      27         27
2            22      22         22
3            10      10         10
4            62      62         62
5            26      26         26
...         ...     ...        ...
270892       75      75         75
270893      190     190        190
270894      148     148        148
270895       20      20         20
270896      260     260        260

[270896 rows x 3 columns]

총 270896명의 user가 있음

In [16]:
import pandas as pd
movies_path = f"{path}/movies_metadata.csv"
movies_df = pd.read_csv(movies_path,low_memory=False)

In [18]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [20]:
movies_df['id'].value_counts()

id
141971    3
168538    2
25541     2
15028     2
11115     2
         ..
72272     1
1549      1
10171     1
38996     1
461257    1
Name: count, Length: 45436, dtype: int64

In [21]:
ratings_df['movieId'].value_counts()

movieId
356       91921
318       91082
296       87901
593       84078
2571      77960
          ...
175753        1
175513        1
174821        1
163054        1
171221        1
Name: count, Length: 45115, dtype: int64

In [23]:
movies_df['movieId']=movies_df['id']
movies_df.drop('id',axis=1,inplace=True)

In [32]:
movies_df.isna().sum()[movies_df.isna().sum()>0]

belongs_to_collection    40972
homepage                 37684
imdb_id                     17
original_language           11
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [33]:
# nan 값이 많은 belongs_to_collection, homepage, tagline 열 drop
# 나머지는 행 drop
# imdb_id도 필요 없음
movies_df.drop(['belongs_to_collection','homepage','tagline','imdb_id'],axis=1,inplace=True)

In [36]:
movies_df.dropna(axis=0,inplace=True, subset=movies_df.columns[movies_df.isna().sum()>0].tolist())

In [37]:
movies_df.isna().sum().sum()

0

In [40]:
movies_df['movieId']=movies_df['movieId'].astype('int')

In [41]:
data=pd.merge(ratings_df,movies_df,on='movieId',how='inner')

In [43]:
data.head()

,userId,movieId,rating,timestamp,adult,budget,genres,original_language,original_title,overview,...,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count
0,1,110,1.0,1425941529,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",fr,Trois couleurs : Rouge,Red This is the third film from the trilogy by...,...,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1994-05-27,0.0,99.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Three Colors: Red,False,7.8,246.0
1,1,147,4.5,1425942435,False,0,"[{'id': 18, 'name': 'Drama'}]",fr,Les Quatre Cents Coups,"For young Parisian boy Antoine Doinel, life is...",...,"[{'iso_3166_1': 'FR', 'name': 'France'}]",1959-05-04,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The 400 Blows,False,8.0,363.0
2,1,858,5.0,1425941523,False,21000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Sleepless in Seattle,A young boy who tries to set his dad up on a d...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1993-06-24,227799884.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Sleepless in Seattle,False,6.5,630.0
3,1,1246,5.0,1425941556,False,24000000,"[{'id': 18, 'name': 'Drama'}]",en,Rocky Balboa,When he loses a highly publicized virtual boxi...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2006-12-20,155721132.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Rocky Balboa,False,6.5,858.0
4,1,1968,4.0,1425942148,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",en,Fools Rush In,Alex Whitman (Matthew Perry) is a designer fro...,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1997-02-14,29481428.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fools Rush In,False,5.8,133.0

In [44]:
data.shape

(11386509, 23)

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11386509 entries, 0 to 11386508
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   userId                int64
 1   movieId               int64
 2   rating                float64
 3   timestamp             int64
 4   adult                 object
 5   budget                object
 6   genres                object
 7   original_language     object
 8   original_title        object
 9   overview              object
 10  popularity            object
 11  poster_path           object
 12  production_companies  object
 13  production_countries  object
 14  release_date          object
 15  revenue               float64
 16  runtime               float64
 17  spoken_languages      object
 18  status                object
 19  title                 object
 20  video                 object
 21  vote_average          float64
 22  vote_count            float64
dtypes: float64(5), int64(3), object(15)
memory usage: 2.0+ GB

In [46]:
data.describe()

,userId,movieId,rating,timestamp,revenue,runtime,vote_average,vote_count
count,1.138651e+07,1.138651e+07,1.138651e+07,1.138651e+07,1.138651e+07,1.138651e+07,1.138651e+07,1.138651e+07
mean,1.351169e+05,6.994200e+03,3.532198e+00,1.121667e+09,7.491235e+07,1.087226e+02,6.621473e+00,6.624952e+02
std,7.812307e+04,1.806494e+04,1.067103e+00,2.048401e+08,1.750083e+08,2.514408e+01,1.053467e+00,1.213873e+03
min,1.000000e+00,2.000000e+00,5.000000e-01,7.896520e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.739800e+04,4.970000e+02,3.000000e+00,9.508968e+08,0.000000e+00,9.500000e+01,6.100000e+00,3.000000e+01
50%,1.354170e+05,1.407000e+03,4.000000e+00,1.107149e+09,2.200000e+06,1.060000e+02,6.800000e+00,1.650000e+02
75%,2.026930e+05,3.024000e+03,4.000000e+00,1.280181e+09,7.020000e+07,1.210000e+02,7.300000e+00,6.640000e+02
max,2.708960e+05,1.762730e+05,5.000000e+00,1.501829e+09,1.845034e+09,8.770000e+02,1.000000e+01,1.407500e+04